

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/helium_jacket.scss';

.frame1 {
	#border{
		border-width: 12px;
	}
	// opacity: 1;
	#hero{
		@include center();
		// display: inline;
	}
}

.frame2 {
	// opacity: 1;
	svg{
		width: 704px;
	}
	svg#line{
		@include pos(12, 12);		
	}
}

#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
	// background-color: green;
}

#tag{
	transform-origin: 0% 50%;
	@include pos-scale(0, -19, .5);
}

