

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/helium_jacket.scss';

.frame1 {
	#border{
		border-width: 6px;
		// border-color: red;
	}
	// opacity: 1;
}

.frame2 {
	// opacity: 1;
	svg{
		width: 704px;
		display: none;
	}
	svg#line{
		@include pos(12, 12);		
	}

	#product1{
		@include pos-scale(27,5,.43 );
		
	}
}

#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 50px;
	// background-color: green;
}

#tag{
	transform-origin: 0% 50%;
	@include pos-scale(0, -8, .5);
}

