

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/helium_jacket.scss';

.frame1 {
	#border{
		border-width: 12px;
	}
	#hero{
		@include center();
	}
}

.frame2 {
	// opacity: 1;
	svg{
		width: 704px;
	}
	svg#line{
		@include pos(12, 12);		
	}
}

#banner{
	font-size: 20px;
	color: #333;
	width: 728px;
	height: 90px;
	// background-color: green;
}

#t1a, #t1b{
	@include pos-scale(14, 0, .5);
}

#product1{
	@include pos-scale(16, 0, .5);
	opacity: 0;
}