

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/helium_jacket.scss';

.frame1 {
	// opacity: 1;
	#hero{
		@include center();
	}
}

.frame2 {
	// opacity: 1;
	svg{
		width: 260px;
	}
	svg#line{
		@include pos(20, 20);		
	}
}

#tag{
	transform-origin: 100% 50%;
	@include pos-scale(90, -19, .5);
}

#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
	// background-color: green;
}

